@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    padding: 45px 0;
    border: 2px solid #DEDBDB
}

.container {
    width: 80%;
    margin: 0 auto
}

.row {
    display: flex;
    justify-content: space-between;
}

.lang span {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
}

.lang{
display: flex;
align-items: center;
gap: 15px;
}



form{
width: 800px;
border: 1px solid #DEDBDB;
border-radius: 50px;
margin: 0 auto;
margin-top: 46px;
padding: 65px;

}
.form_2{
width: 150px;
} 
#text{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
   color: #F0400F;
}

.odam{
gap: 150px;
}

#ooo{
gap: 5px;
}

.pp{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    text-align: center;
    margin-top: 131px;
    color: #0E0D5D;
}

.btns{
margin-top: 79px;
margin-bottom: 39px;
width: 100%;
background-color: #F5F5F5;
border-radius: 20px;
padding: 8px 11px;
display: flex;
gap: 42px;
}
.ll{
        font-family: Inter;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.89px;
        color: black;
        text-align: center;
        padding: 10px 40px ;
        background-color: white;
        border-radius: 15px;
        border: none;
}

.ii{
        background: none;
        font-family: Inter;
        font-size: 28px;
        font-weight: 500;
        line-height: 33.89px;
         border: none;
    color:#757575 ;
}
.ff{
    border: 1px solid #75757530;
    padding: 20px 51px;
    width: 100%;
border-radius: 20px;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 20px;
outline: none;
}

.ff::placeholder{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color:#757575 ;
}


.yy{
    border: 1px solid #75757530;
    padding: 20px 51px;
    width: 100%;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 39px;
    outline: none;
}


.parol::placeholder{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color:#757575 ;


}

form a{
text-align: center;
margin-top: 18px;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
text-decoration: none;
color: #000000A3;
margin-top: 39px;
display: block;
}

.row-2{
display: flex;
justify-content: flex-end;
}

.row-2 button{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    margin-top: 31px;
padding: 17px 23px;
color: white;
background-color: #F69E86;
border: none;
border-radius: 20px;
}

main{
padding-bottom: 52px;
}